In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import train_test_split

In [7]:
data=pd.read_csv('dataset_Facebook.csv')

In [8]:
data.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [9]:
data.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [10]:
data=data.dropna()

In [11]:
data.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total Interactions                                                     0
dtype: int64

In [12]:
x=data.drop('Total Interactions',axis=1)

In [14]:
y=data[['Total Interactions']]

In [15]:
x.shape,y.shape

((495, 18), (495, 1))

In [16]:
x['Type'].value_counts()

Photo     421
Status     45
Link       22
Video       7
Name: Type, dtype: int64

In [20]:
x.describe().T

,count,mean,std,min,25%,50%,75%,max
Page total likes,495.0,123173.268687,16203.818031,81370.0,112324.0,129600.0,136393.0,139441.0
Category,495.0,1.886869,0.853268,1.0,1.0,2.0,3.0,3.0
Post Month,495.0,7.028283,3.304274,1.0,4.0,7.0,10.0,12.0
Post Weekday,495.0,4.133333,2.030735,1.0,2.0,4.0,6.0,7.0
Post Hour,495.0,7.844444,4.385064,1.0,3.0,9.0,11.0,23.0
Paid,495.0,0.280808,0.449849,0.0,0.0,0.0,1.0,1.0
Lifetime Post Total Reach,495.0,14028.101010,22821.050008,238.0,3331.0,5290.0,13248.0,180480.0
Lifetime Post Total Impressions,495.0,29856.981818,77142.905000,570.0,5798.0,9084.0,22503.0,1110282.0
Lifetime Engaged Users,495.0,926.830303,987.713267,9.0,399.0,630.0,1062.0,11452.0
Lifetime Post Consumers,495.0,804.155556,885.184440,9.0,335.0,555.0,969.0,11328.0
Lifetime Post Consumptions,495.0,1425.921212,2007.663460,9.0,512.5,861.0,1479.0,19779.0
Lifetime Post Impressions by people who have liked your Page,495.0,16916.278788,60074.021711,567.0,4073.5,6282.0,15143.0,1107833.0
Lifetime Post reach by people who like your Page,495.0,6641.355556,7700.266455,236.0,2213.0,3478.0,8018.0,51456.0
Lifetime People who have liked your Page and engaged with your post,495.0,614.135354,614.346297,9.0,297.5,416.0,658.5,4376.0
comment,495.0,7.557576,21.274384,0.0,1.0,3.0,7.0,372.0
like,495.0,179.145455,324.412161,0.0,57.0,101.0,188.0,5172.0
share,495.0,27.264646,42.656388,0.0,10.0,19.0,32.5,790.0

In [22]:
cont=x.describe().columns
cont

Index(['Page total likes', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share'],
      dtype='object')

In [25]:
x.describe(include='O').T

     count unique    top freq
Type   495      4  Photo  421

In [27]:
cat=x.describe(include='O').columns
cat

Index(['Type'], dtype='object')

In [53]:
x=pd.get_dummies(x)

In [54]:
#Standard Scalar Transformation
from sklearn.preprocessing import StandardScaler
x_scaled=StandardScaler()
x_scaled.fit(x)
x_scaled=x_scaled.transform(x)

In [72]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.4,random_state=1)

In [73]:
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [74]:
r2_score(y_test,y_pred)

1.0

In [75]:
mse=mean_squared_error(y_test,y_pred)
mse

1.3886715973009032e-24

In [76]:
pd.concat([round(pd.DataFrame(y_pred,index=y_test.index),0),y_test],axis=1)

          0  Total Interactions
415   249.0                 249
107   238.0                 238
169   121.0                 121
201    45.0                  45
324    65.0                  65
168  1974.0                1974
468   305.0                 305
177   276.0                 276
34     75.0                  75
330   251.0                 251
67    787.0                 787
85    158.0                 158
264   596.0                 596
234   120.0                 120
449   266.0                 266
327   122.0                 122
398    90.0                  90
304   155.0                 155
162   410.0                 410
217    57.0                  57
348   190.0                 190
31     39.0                  39
370   528.0                 528
289    67.0                  67
196    73.0                  73
131    10.0                  10
345   179.0                 179
441     0.0                   0
145    96.0                  96
311    99.0                  99
..      ...                 ...
387   126.0                 126
73    233.0                 233
335   180.0                 180
175   189.0                 189
165   132.0                 132
69    119.0                 119
218   100.0                 100
91     91.0                  91
494   176.0                 176
242   572.0                 572
377   295.0                 295
128     5.0                   5
240   624.0                 624
272   587.0                 587
59    160.0                 160
122     4.0                   4
12    104.0                 104
416    34.0                  34
401   376.0                 376
236   294.0                 294
498   136.0                 136
290    25.0                  25
160   409.0                 409
392   115.0                 115
190   119.0                 119
453   128.0                 128
248   118.0                 118
477   107.0                 107
211   287.0                 287
446   228.0                 228

[198 rows x 2 columns]